<div style="text-align: center; background: black; color: white; height: 70px">
 <h1>Expense Tracker</h1>
</div>
<div class="container-fluid row" style="justify-content: space-between">
  <div class="col">
    <h4>
      <i class="fa fa-home" aria-hidden="true">
        <a href="home" style="text-decoration: none"> Home</a>
      </i>
    </h4>
  </div>
  <div class="col offset" style="text-align: right">
    <h4>
      <i class="fa fa-sign-out" aria-hidden="true">
        <a href="logout" style="text-decoration: none"> Logout</a>
      </i>
    </h4>
  </div>
</div>
<router-outlet></router-outlet>

