
&nbsp;&nbsp;<h2>Welcome Back, Kumar</h2>
<div class=" container-fluid header">
  <div class="  row ">
  <div class="offset-1 col-4" style="border-style: dotted;  border-radius: 30px;">
      <h6 style="text-align: center;">Create a Budget</h6>
        <label for=""><b>Name</b></label><br>
        <input type="text" placeholder="Budget Name" style="width: 100%;"><br>
        <label for=""><b>Amount</b></label><br>
        <input type="text" placeholder="Amount" style="width: 100%;"><br><br><br>
        <button class="btn btn-success" (click)="addBudget()">+ Add Budget</button><br><br>
  </div>

  <div class="col-4 offset-1" style="border-style: dotted;  border-radius: 30px;">
    <h6 style="text-align: center;">Add Expense</h6>
    <label for=""><b>Name</b></label><br>
    <input type="text" placeholder="Expense Name" style="width: 100%;"><br>
    <label for=""><b>Amount</b></label><br>
    <input type="text" placeholder="Amount" style="width: 100%;"><br>
    <label for="">Budget Name</label><br>
    <input type="text" placeholder="Enter your BudgetName" style="width: 100%;"><br><br>
    <button class="btn btn-success">+ Add Expense</button><br><br>
  </div>
<div class="row"><br><br><br></div>
  <div class="row">
    <div class="col-4 offset-1" style="border-style: dotted;  border-radius: 30px;">
      <h6 style="text-align: center;">Add Income</h6>
      <label for=""><b>Name</b></label><br>
      <input type="text" placeholder="Income Name" style="width: 100%;"><br>
      <label for=""><b>Amount</b></label><br>
      <input type="text" placeholder="Amount" style="width: 100%;"><br><br><br>
      <button class="btn btn-success">+ Add Income</button><br><br>
    </div>
  </div>
</div>

